* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(52, 180, 255);
    font-family: 'Poppins', sans-serif;
}

.titolo {
    padding-left: 15px;
    padding-top: 15px ;
    background-color: white;
    height: 80px;
    margin-bottom: 40px;
}

.titolo img,h1 {
    vertical-align: middle;
}

.titolo h1 {
    display: inline;
}

.container {
    background-color: white;
    width: 800px;
    height: 800px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px 10px 10px 10px;
}

.bottoni {
    margin: auto;
    height: 60px;
    border-bottom: 1px solid whitesmoke;
}

#task {
    margin-top: 15px;
    margin-left: 70px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: rgb(52, 180, 255);
}

#section {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid grey;
}

.new_task {
    margin-left: 70px;
    margin-top: 60px;
}

.new_task h3::before {
    content: '\2714';
}

.annotazioni1 {
    height: 40px;
    padding-top: 20px;
}

.spunta {
    border-radius: 50%;
    border:1px solid rgb(11, 253, 11);
    color: rgb(11, 253, 11);
    height: 18px;
    width: 18px;
    display: inline-block;
}

.spunta2 {
    border-radius: 50%;
    border:1px solid rgb(253, 11, 23);
    color: rgb(253, 11, 23);
    height: 18px;
    width: 18px;
    display: inline-block;
}

.spunta span {
    font-size: 12px;
    margin: 0px 5px;
    vertical-align: middle;
}

.spunta2 span {
    font-size: 12px;
    margin: 4px;
    vertical-align: middle;
}

#bedit {
    font-size: 11px;
    color: white;
    background-color:rgb(52, 180, 255) ;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(52, 180, 255);
}

#bgoal {
    font-size: 11px;
    color: white;
    background-color:rgb(145, 2, 180) ;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(145, 2, 180);
}

#brec {
    font-size: 11px;
    color: white;
    background-color:rgb(51, 216, 161) ;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(51, 216, 161);
}

#bmob {
    font-size: 11px;
    color: white;
    background-color:rgb(252, 155, 9) ;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(252, 155, 9);
}

#bweb {
    font-size: 11px;
    color: white;
    background-color:rgb(240, 39, 123) ;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(240, 39, 123);
}

#bsal {
    font-size: 11px;
    color: white;
    background-color:rgb(39, 240, 72) ;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(39, 240, 72);
}




